workflow:
  rules:
      # switch from branch pipelines to merge request pipelines when a merge request is created
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS && $CI_PIPELINE_SOURCE == "push"
      when: never
      # trigger for a merge request
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      # skip branch pipelines when there is an open MR for this branch (run only MR pipeline)
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never
      # run branch pipeline when no MR is created
    - if: $CI_COMMIT_BRANCH

stages:
  - test
  - build
  - preview

default:
  image: node:latest
  cache: &default_cache
    key:
      files:
        - package-lock.json
    paths:
      - node_modules/
      - packages/*/node_modules/
      - .npm
    policy: pull
  tags:
    - docker-exec

install:
  stage: .pre
  cache:
    <<: *default_cache
    policy: pull-push
  script:
    - npm ci --cache .npm --prefer-offline

test:
  stage: test
  rules:
     - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  script:
    - npx lerna run test --scope=@apex-rn/library -- --ci --reporters=default --reporters=jest-junit
    - npx lerna run build --scope=@apex-rn/library
  artifacts:
    when: always
    reports:
      junit:
        - packages/lib/junit.xml

build:
  stage: build
  when: manual
  image: reactnativecommunity/react-native-android:8
  script:
    - mkdir env
    - echo -n $env_staging | base64 -d > env/.env.staging
    - cd android && chmod +x gradlew
    - ENVFILE=../env/.env.staging ./gradlew app:assembleRelease
  artifacts:
    paths:
      - android/app/build/outputs/

build_storybook:
  stage: build
  script:
    - npx lerna run build-storybook --scope=@apex-rn/storybook
  artifacts:
    name: apex-rn-storybook
    paths:
      - packages/storybook/storybook-static
    expire_in: 1000 hour

storybook_review:
  stage: preview
  needs:
    - job: build_storybook
      artifacts: true
      optional: false
  variables:
    BASE_DOMAIN: trading.apstage.net
  script:
    - rsync -av --delete packages/storybook/storybook-static/* /srv/nginx/pages/$CI_COMMIT_REF_SLUG
  environment:
    name: branches/$CI_COMMIT_REF_SLUG
    url: http://$CI_COMMIT_REF_SLUG.$BASE_DOMAIN
    on_stop: stop_review
  tags:
    - nginx
    - review-apps
    - deploy-trading

stop_review:
  stage: preview
  variables:
    GIT_STRATEGY: none
  script:
    - rm -rf /srv/nginx/pages/$CI_COMMIT_REF_SLUG
  environment:
    name: branches/$CI_COMMIT_REF_SLUG
    action: stop
  when: manual
  tags:
    - nginx
    - review-apps
    - deploy-trading
